.contentGridDos {
    min-height: 100vh;
    display: grid;
    grid-template-columns: calc(20% - 8px) calc(80% - 8px);
}

.sectionPrincipal {
    padding-left: 32px;
}

.plusbutton {
    align-items: center;
    background-color: var(--primary-normal);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 56px;
    left: 93vw;
    justify-content: center;
    position: fixed;
    top: 93vh;
    width: 56px;
}

.plus {
    color: var(--white);
    font-size: 36px;
    font-weight: bold;
}

.hidden {
    display: none;

}

.show {
    display: block;
}

.table {
    width: 100%;
    margin-top: 32px;
}

.head {
    padding: 16px;
    border-bottom: 1px solid var(--tertiary-lighten-two);
}

.lines {
    padding: 8px;
    border-bottom: 1px solid var(--tertiary-lighten);
}